.App {
  background-image: url("https://wallpaperaccess.com/full/39608.jpg");
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: cover;
  color: white;
  font-family: sans-serif;
}